streamlit
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
faiss-cpu
sentence-transformers
torch
torchvision
apscheduler
python-dotenv
google-generativeai
Pillow
pyvis
langdetect
deep-translator
